@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:after, *:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: #202020;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  background-color: #db4c13;
  height: 9vh;
  width: 100%;
}

.header nav {
  width: 992px;
}

.logo {
  height: 50px;
  width: 60px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  background-color: aqua;
}

.sidebar {
  width: 30%;
  height: 100vh;
  border-right: 1px solid black;
}

.sidebar div {
  margin: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 15px;
  cursor: pointer;
}

.sidebar div:active {
  background-color: white;
}

.sidebar div .icon {
  margin-right: 10px;
}

.task {
  width: 70%;
  height: 100vh;
  background-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 20px;
}

.task h1 {
  text-align: center;
}

.task .add-task-btn .plus {
  font-size: 18px;
  margin-right: 10px;
  color: green;
}

.task .add-task-btn .add-task-text {
  font-size: 15px;
  color: green;
}

.task .add-task-dialog {
  margin-top: 10px;
}

.task .add-task-dialog input {
  width: 100%;
  border: 1px solid aqua;
  background-color: white;
  border-radius: 5px;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

.task .add-task-dialog .add-task-action-container {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.task .add-task-dialog .add-task-action-container .add-btn {
  background-color: #db4c13;
  color: white;
  border: 1px solid transparent;
  margin-right: 5px;
  font-weight: bold;
  font-size: 13px;
  padding: 6px 12px 7px 12px;
  border-radius: 3px !important;
}

.task .add-task-dialog .add-task-action-container .add-btn:disabled {
  background-color: grey;
}

.task .add-task-dialog .add-task-action-container .add-btn:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.task .add-task-dialog .add-task-action-container .cancle-btn {
  all: unset;
  color: #555;
  cursor: pointer;
  font-size: 14px;
  margin: 0px 10px;
}

.task .task-items-container {
  margin-top: 40px;
  padding: 0px 20px;
}

.task .task-items-container .task-item {
  margin-top: 20px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.task .task-items-container .task-item:not(:last-child) {
  border-bottom: 1px solid #db4c13;
}
/*# sourceMappingURL=app.css.map */